*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header{
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}


/* Header and Navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
}


/* Banner Styles */
.banner{
    margin: 0 200px;
    display: flex;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}


/* Main Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}


/* About Section Styles */
.about{
    background-color: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}

.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
.section-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    columns: #757575;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}


/* what-i-do Styles */

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}

/* Resume Styles */
